body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: #1e293b;
    border-radius: 8px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #22c55e;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#result {
    margin-top: 15px;
}
