name: .NET CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore PaymentGatewayProject.slnx

    - name: Build
      run: dotnet build PaymentGatewayProject.slnx --no-restore --configuration Release

    - name: Run tests
      run: dotnet test PaymentGatewayProject.slnx --no-build --configuration Release
